thead{
    color: #337AB7;
      width: 100%;
      vertical-align: middle;
}

table{
    /*table-layout: fixed;*/
    width:  100%;
    border-collapse: collapse;
    white-space: nowrap;
}
th{
    text-align: center;
    vertical-align: center;
    vertical-align: middle;
    height: 40px;
    font-size: 12px !important;
    margin-bottom: 15px;

}

tr{
    vertical-align: middle;
}

td{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px;
}

.radioLabel{
    text-overflow: clip;   
}
.panel-heading{
    height: 67px;
    padding-left: 0px;
    padding-right: 0px;
}

.panel-body{
    padding: 0px !important;
}

.table > tbody > tr > td {
 padding: 0px !important;
}

.rowModified{
    background: #E6E6FA !important;
}


td>input{
  width: 120px;
  text-align: center;
}

.tdContainer{
    vertical-align: middle;
    margin: 0px;
    padding: 2px;
}

.container-fluid{
    width:100%;
    height:100%;
    margin: 0px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.row{
    height: 100%
}

.input[type=checkbox]{
    margin:0px !important;
    height:10px;
}

.vertAlign{
 padding: 3px;
 vertical-align: middle;
}

#fillerRow{
    height: 20px;
}

#btnHeaders{
    vertical-align: middle;
}

#allBtn{
 border: 2px solid white;
 border-radius: 10px;
 vertical-align: middle;
}

#clearBtn{
 border: 2px solid white;
 border-radius: 10px;
}

#modBtn{
 border: 2px solid white;
 border-radius: 10px;
 
}

#unmodBtn{
 border: 2px solid white;
 border-radius: 10px;
}

#getBtn{
 border: 2px solid white;
 border-radius: 10px;
 padding-top:5px;
}

.dfginput{
    height: 45px;
    text-align:center;
    margin-left: 40px;
}

.nolight-class {
    border: none !important;
    color: black !important;
  /*background: red !important;*/
}

.highlight-class {
    border: 3px solid white !important;
    color: white !important;
}

input::-webkit-input-placeholder {
font-size: 70% !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
font-size: 70% !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
font-size: 70% !important;  
}
 
input:-ms-input-placeholder {  
font-size: 70% !important;  
}

.form-control-inline {
    min-width: 0;
    height: 95%;
    width: 75%;
    text-align: center; 
    font-size: 120%;
}

select{
    color: #337AB7 !important;
    height: 40px;
    /*width:100px;*/
    border:2px solid white;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /*padding:2px;*/
}
/*
select:required:invalid {
  color: gray;
}*/

option {
  color: #337AB7 !important;
  border: white;
}

.radio-toolbar{
    /*padding-left: -30px;*/
    margin-left: 10px;
    vertical-align: top;
}

.dropdown{
    padding-top: 1px !important;
    /*vertical-align: middle;*/
}

input[type=radio]{
    margin-left: 5px;
}

label{
    margin-left: 5px;
    font: 8px !important;
}

#ChargesTable{
 /* table-layout: fixed;*/
  /*   width:  60%;*/
    border-collapse: collapse;
    white-space: nowrap;
}

.scrollingTable {
            display: inline-block;
            overflow-y: auto;
            max-height:500px;
            min-height:500px;
            width:100%;
        }

