thead{
    color: #337AB7;
      width: 100%;
      vertical-align: middle;
}

table{
    /*table-layout: fixed;*/
    width:  100%;
    border-collapse: collapse;
    white-space: nowrap;
}
th{
    text-align: center;
    vertical-align: center;
    vertical-align: middle;
    height: 40px;
    font-size: 12px;
    margin-bottom: 15px;

}

td{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px;
}

.table > tbody > tr > td {
 padding: 0px !important;
}

/*
.table > tbody > tr {
   height: 20px !important;
   padding: 0px !important;

}
*/
.tdContainer{
    vertical-align: middle;
    margin: 0px;
    padding: 2px;
}

.input[type=checkbox]{
    margin:0px !important;
    height:10px;
}

.vertAlign{
 padding: 3px;
 vertical-align: middle;
}

#fillerRow{
    height: 20px;
}

#standardBtn{
 border: 2px solid white;
 border-radius: 10px;
}

#allBtn{
 border: 2px solid white;
 border-radius: 10px;
}

#noneBtn{
 border: 2px solid white;
 border-radius: 10px;
}
#getBtn{
 border: 2px solid white;
 border-radius: 10px;
}

#dfgLbl{
    text-align:left;
    padding-top: 10px;
    float: left
}

.dfginput{
    width: 450px;
    height: 40px;
    text-align:left;
    padding-top: 5px;
    float: left
}

#standardButton{
    width: 10%;
    text-align:left;
    padding-top: 10px;
    float: left
}

#allButton{
    width: 10%;
    text-align:left;
    padding-top: 10px;
    float: left
}

#noneButton{
    width: 10%;
    text-align:left;
    padding-top: 10px;
    float: left
}
/*
input { 
    text-align: center; 
    font-size: 120%;
}*/

input::-webkit-input-placeholder {
font-size: 70% !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
font-size: 70% !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
font-size: 70% !important;  
}
 
input:-ms-input-placeholder {  
font-size: 70% !important;  
}

.form-control-inline {
    min-width: 0;
    height: 95%;
    width: 75%;
    text-align: center; 
    font-size: 120%;
}

select{
    color: #337AB7 !important;
    height: 40px;
    width:150px;
    border:2px solid white;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding:2px;
}
/*
select:required:invalid {
  color: gray;
}*/

option {
  color: #337AB7 !important;
  border: white;
}

.radio-toolbar{
    padding-top: 10px;
    /*vertical-align: middle;*/
}

.dropdown{
    padding-top: 1px !important;
    /*vertical-align: middle;*/
}

input[type=radio]{
    margin-left: 15px;
}

#ChargesTable{
 /* table-layout: fixed;*/
  /*   width:  60%;*/
    border-collapse: collapse;
    white-space: nowrap;
}

.scrollingTable {
            display: inline-block;
            overflow-y: auto;
            max-height:500px;
            min-height:500px;
            width:100%;
        }

